// тк мы к ним обращаемся везде ниже
@import 'utils/vars';
@import 'utils/reset';
@import 'bootstrap/bootstrap-custom';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: $mainFontSize * 1;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: $mainFontSize * 0.8;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: $mainFontSize * 0.6;
  }
}

body {
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea,
select,
button {
  border: 1px solid $border-base;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer, // also footer if footer without section
section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  margin-top: $header-height;
}

.container {
  position: relative;
  flex: 0 0 auto;
  margin: 0 auto;
  width: 100%;
  max-width: $lgDesktopWidth;
  @media screen and (max-width: $lgDesktopWidth) {
    padding: 0 16px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $smTableWidth;
  }
  @media screen and (max-width: $smTableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.view-sm {
  max-width: 700px;

  &.isCenter {
    margin-left: auto;
    margin-right: auto;
  }
}

.main-container {
  //min-height: 800px;
  background: linear-gradient(90deg, #D4FC79 0%, #96E6A1 100%);
  border-radius: 30px;
  padding: 54px 48px;
  margin-top: $header-footer-margin;

  @media screen and (max-width: $lgDesktopWidth) {
    padding: 54px 48px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    padding: 40px 36px;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 26px 24px;
  }
  @media screen and (max-width: $smTableWidth) {
    padding: 15px 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 15px 12px;
  }
}

h1 {
  font-size: rel_font_size(60px);
  white-space: break-spaces;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: rel_font_size(46px);
}

p {
  margin-bottom: 1rem;
}

.ul-list_dotted li {
  list-style-type: disc;
  margin-left: 1rem;
}

.page-error {
  h1 {
    &.error_code {
      font-size: rel_font_size(170px);
      margin-bottom: 0.4em;
    }
  }

  p {
    font-size: rel_font_size(36px);
  }
}

a {
  color: $mainFontColor;
}

@import './common/_common';
@import './helpers/_helpers';
