.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 12px 18px;
  background-color: $g-1;
  height: $header-height;
  overflow-x: auto;
  overflow-y: hidden;
}

.navbar-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navbar-logo, .navbar-logo img {
  height: 45px;
  width: 51px;
}

.navbar-item {
  font-size: 24px;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.navbar-link {
  color: #000;
  display: block;
  transition: all 0.2s ease;
  // active link
  &.isActive,
  &.router-link-active,
  &.router-link-exact-active {
    text-decoration: underline;
  }
}

$inButtonBorderRadius: 30px;
$inButtonHeight: 50px;
$inButtonBorder: 5px;

.navbar-link__in-button {
  height: $inButtonHeight;
  border-radius: $inButtonBorderRadius;
  padding: $inButtonBorder;
  background: linear-gradient(#D3FB79, #96E6A1);
  width: fit-content;

  span, a {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: $inButtonBorderRadius * ($inButtonHeight - 2 * $inButtonBorder) / $inButtonHeight;
    background-color: $g-0;
    height: $inButtonHeight - 2 * $inButtonBorder;
    width: auto;
    border: none;
    display: inline-block;
  }
}
